.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.content {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
}

.content input, .content textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
    background: #222;
    border: 1px solid #444;
    color: white;
    border-radius: 5px;
}

.content textarea {
    height: 150px;
    resize: none;
}

.content button {
    width: 100%;
    padding: 15px;
    background: #833d15;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}