* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: fixed;
    inset: 0; 
    background-image: url("555.jpg");
    filter: invert(100%);
    background-size: cover; 
    z-index: -1; 
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}

.content {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
    color: orange;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.content form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #444;
    background: #111;
    color: white;
}

.content button {
    width: 100%;
    padding: 12px;
    background-color: #833d15;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.content button:hover {
    background-color: orange;
    color: black;
}