<!DOCTYPE html>
<html lang="ka">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>კონტაქტი</title>
    <link rel="stylesheet" href="styleC.css">
    <link rel="icon" href="logo2.png"  type="image/x-icon" >
</head>
<body>
    <div class="menu">
        <img src="logo2.png" alt="Logo">
        <audio id="hoverSound" src="ClickSound.mp3" preload="auto"></audio>
        <a href="{% url 'home_page' %}"><button>მთავარი</button></a>
        <input type="search" placeholder="ძიება...">
        <button onclick="location.href='register.html'" id="register">რეგისტრაცია</button>
        <button onclick="location.href='login.html'" id="login">შესვლა</button>
        <button onclick="location.href='main.html'">გალერეა</button>
    </div>

  <div class="mainDiv">
    <div class="content">
        <form method="POST">
            {% csrf_token %}
            <input type="tel" name="phone" placeholder="შეიყვანეთ თქვენი საკონტაქტო ნომერი" required>
            <input type="text" name="subject" placeholder="შეიყვანეთ რას ეხება თემა(არასავალდებულო)">
            <textarea name="message_text" placeholder="დაწერეთ თქვენი სათქმელი" id="mainTxt" required></textarea>
            <button type="submit">გაგზავნა</button>
        </form>
    </div>
</div>

    <script src="script.js"></script>
</body>
</html>
